{% extends sonata_block.templates.block_base %}

{% block block %}
    {% for group in groups %}
        {% set display = (group.roles is empty or is_granted(sonata_admin.adminPool.getOption('role_super_admin')) ) %}
        {% for role in group.roles if not display %}
            {% set display = is_granted(role)%}
        {% endfor %}

        {% if display %}

            <div class="x_panel tile">
                <div class="x_title">
                    <h2 class="">{{ group.label|trans({}, group.label_catalogue) }}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </li>
                        <li>
                            <a class="close-link">
                                <i class="fa fa-close"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="display: block;">
                    <table class="table table-hover table-responsive table-striped">
                        <tbody>
                        {% for admin in group.items %}
                            {% if admin.dashboardActions|length > 0 %}
                                <tr>
                                    <td width="70%">
                                        <h4>{{ admin.label|trans({}, admin.translationdomain) }}</h4>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            {% for action in admin.dashboardActions %}
                                                {% include action.template|default('@SonataAdmin/CRUD/dashboard__action.html.twig') with {'action': action} %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
