<div class="tile_count">
	<div class="col-md-2 col-sm-4  tile_stats_count" id="cms-block-{{ block.id }}">
		<span class="count_top">
			<i class="fa {{ settings.icon }}"></i> {{ settings.title|trans({}, 'SonataAdminBundle') }}
		</span>
		<div class="count {{ settings.css_class }}">{{ count }}</div>
		<span class="count_bottom">
			<i class="{{ settings.arrow }}">
				<i class="fa fa-sort-{{settings.position}}"></i>3% </i> From last Week
			</span>
	</div>
</div>