{% block stats %}
    <div class="x_panel tile">
        <div class="x_title">
            <h2 class="">{{ 'common_stats_dashboard'|trans({}, 'SonataAdminBundle') }} </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                </li>
                <li>
                    <a class="close-link">
                        <i class="fa fa-close"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
                'entity' : 'AppBundleArchiveBundle:Image',
                'repository_method' : 'countAllImages',
                'title' : 'count_all_images',
                'css_class' : 'green',
                'arrow' : 'green',
                'position': 'asc',
                'icon' : 'fa-picture-o'
            }) }}

            {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
                'entity' : 'AppBundleArchiveBundle:Category',
                'repository_method' : 'countAllCategories',
                'title' : 'count_all_groups',
                'css_class' : 'red',
                'arrow' : 'red',
                'position': 'desc',
                'icon' : 'fa-users'
            }) }}

            {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
                'entity' : 'AppBundleArchiveBundle:Image',
                'repository_method' : 'countAllImages',
                'title' : 'count_all_images',
                'css_class' : 'green',
                'arrow' : 'green',
                'position': 'asc',
                'icon' : 'fa-picture-o'
            }) }}

            {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
                'entity' : 'AppBundleArchiveBundle:Category',
                'repository_method' : 'countAllCategories',
                'title' : 'count_all_groups',
                'css_class' : 'red',
                'arrow' : 'red',
                'position': 'desc',
                'icon' : 'fa-users'
            }) }}

            {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
                'entity' : 'AppBundleArchiveBundle:Image',
                'repository_method' : 'countAllImages',
                'title' : 'count_all_images',
                'css_class' : 'green',
                'arrow' : 'green',
                'position': 'asc',
                'icon' : 'fa-picture-o'
            }) }}

            {{ sonata_block_render({ 'type': 'admin.block.service.stats' }, {
                'entity' : 'AppBundleArchiveBundle:Category',
                'repository_method' : 'countAllCategories',
                'title' : 'count_all_groups',
                'css_class' : 'red',
                'arrow' : 'red',
                'position': 'desc',
                'icon' : 'fa-users'
            }) }}
        </div>
    </div>
{% endblock %}