{% block block_language %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <!-- <i class="fa fa-flag fa-fw" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i> -->
            <img src="{{ app.request.locale == 'bg' ? asset('images/bg.png') : asset('images/en.png') }}">
        </a>
        <div class="dropdown-menu multi-column dropdown-add">
            <div class="container-fluid">
                <div class="row">
                    <ul class="">
                        <li role="presentation" class="dropdown-header">
                            <i class="fa fa-language"></i>
                            {{ 'languages_title'|trans({}, 'SonataAdminBundle') }}
                        </li>
                        {% for locale in available_locales|split('|') %}
                            <li role="presentation" class="{{ app.request.locale == locale ? 'active' : '' }}">
                                <a role="menuitem" tabindex="-1" href="{{ path('locale', {'locale': locale}) }}">{{ locale|language|capitalize }}
                                    <img  class="img pull-right" src="{{ app.request.locale == locale ? asset('images/bg.png') : asset('images/en.png') }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </li>
{% endblock %}