{% block user_block %}
    <li role="presentation" class="">
        <a role="menuitem" tabindex="-1" href="{{ path('admin_sonata_user_user_edit', {id: app.user.id }) }}">
            <span><i class="fa fa-user"></i></span>
            <span>{{ 'redact_profile'|trans({}, 'SonataAdminBundle') }}</span>
        </a>
    </li>
    <li role="presentation" class="">
        <a role="menuitem" tabindex="-1" href="{{ path('logout') }}">
            <span><i class="fa fa-sign-out"></i></span>
            <span>{{ 'logout'|trans({}, 'SonataAdminBundle') }}</span>
        </a>
    </li>
{% endblock %}
