<!DOCTYPE html>
<html lang="en">

<head>
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>НЕ Е СЪН! / BTA</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{{ asset('images/logo.ico')}}" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


        <!-- Vendor CSS Files -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
        <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

        <link href="assets/css/style.css" rel="stylesheet">
    {% endblock %}
</head>

<body>

<!-- ======= Navbar ======= -->
    {% block navbar %}
        <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
            <div class="container py-2 py-md-5">
                <div class="row align-items-start">
                    <div class="col-md-2">
                        <ul class="custom-menu">
                            <li class="active"><a href="{{ url('index') }}">{{ 'home'|trans({}, 'frontend') }}</a></li>
                            <li><a href="{{ url('gallery') }}">{{ 'gallery'|trans({}, 'frontend') }}</a></li>
{#                            <li><a href="{{ url('news') }}">{{ 'news'|trans({}, 'frontend') }}</a></li>#}
{#                            <li class="dropdown">#}
{#                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
{#                                    <img src="{{ app.request.locale == 'bg' ? asset('images/bg.png') : asset('images/en.png') }}">#}
{#                                </a>#}
{#                                <div class="dropdown-menu multi-column dropdown-add">#}
{#                                    <div class="container-fluid">#}
{#                                        <div class="row">#}
{#                                            <ul class="">#}
{#                                                <li role="presentation" class="dropdown-header">#}
{#                                                    <i class="fa fa-language"></i>#}
{#                                                    {{ 'languages_title'|trans({}, 'SonataAdminBundle') }}#}
{#                                                </li>#}
{#                                                {% for locale in available_locales|split('|') %}#}
{#                                                    <li role="presentation" class="{{ app.request.locale == locale ? 'active' : '' }}">#}
{#                                                        <a role="menuitem" tabindex="-1" href="{{ path('locale', {'locale': locale}) }}">{{ locale|language|capitalize }}#}
{#                                                            <img  class="img pull-right" src="{{ app.request.locale == locale ? asset('images/bg.png') : asset('images/en.png') }}">#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                {% endfor %}#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
                        </ul>
                    </div>
                    <div class="col-md-6 d-none d-md-block  mr-auto">
                        <div class="tweet d-flex">
                            <a href="https://www.facebook.com/%D0%91%D0%A2%D0%90-Bulgarian-News-Agency-144020552303185/" target="_blank"><span class="icofont-facebook text-white mt-2 mr-3"></span></a>
                            <div>
                                <p><em>{{ 'header_text'|trans({}, 'frontend') }}<br> <a href="/">НЕ Е СЪН!</a></em></p>
                            </div>
                        </div>
                    </div>
{#                    <div class="col-md-4 d-none d-md-block">#}
{#                        <h3>За контакти</h3>#}
{#                        <p>Можете да зададете вашите въпроси, по повод COVID - 19 на редакционния имайл <br> <a href="mailto:corr@bta.bg?Subject=COVID%2019" target="_top">corr@bta.bg</a></p>#}
{#                    </div>#}
                </div>
            </div>
        </div>


        <nav class="navbar navbar-light custom-navbar">
            <div class="container">
                <a class="navbar-brand" href="{{ url('index') }}">НЕ Е СЪН!</a>

                <a href="#" class="burger" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </nav>
    {% endblock %}
<!-- ======= Navbar ======= -->


<main id="main">
    {% block main_content %}
    {% endblock %}
</main><!-- End #main -->

<!-- ======= Footer ======= -->

<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="mb-1">&copy; {{ 'index_trademark'|trans({}, 'frontend') }}</p>
            </div>
            <div class="col-sm-6 social text-md-right">
                <a href="https://www.facebook.com/%D0%91%D0%A2%D0%90-Bulgarian-News-Agency-144020552303185/" target="_blank"><span class="icofont-facebook"></span></a>
                <a href="https://www.youtube.com/channel/UCtzcS-7JoZd6cvbPY6esNZQ" target="_blank"><span class="icofont-youtube"></span></a>
            </div>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    {% block javascripts %}
        <!-- Vendor JS Files -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>
    {% endblock %}

</body>

</html>