{% extends '@AppBundleArchive/Default/frontend_layout.html.twig' %}

{% block main_content %}
    {{ parent() }}
    <section class="section site-portfolio">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                    <h2>{{ 'gallery_text'|trans({}, 'frontend') }}</h2>
                </div>
                <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
                    <div id="filters" class="filters">
                        <a href="#" data-filter="*" class="active">{{ 'gallery_all_photos'|trans({}, 'frontend') }}</a>
                        <a href="#" data-filter=".bg">{{ 'gallery_bulgaria_photos'|trans({}, 'frontend') }}</a>
                        <a href="#" data-filter=".world">{{ 'gallery_world_photos'|trans({}, 'frontend') }}</a>
                    </div>
                </div>
            </div>

            <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
                {% if images %}
                    {% for image in images %}
                        <div class="item {{ image.code }} col-sm-6 col-md-4 col-lg-4 mb-4">
                            <a href="{{ path('image', { 'id' : image.id})}}" class="item-wrap fancybox">
                                <div class="work-info">
                                    <h3>{{ app.request.locale == 'bg' ? image.title : image.titleE }}</h3>
                                </div>
                                <img class="img-fluid" src="{{ asset( image.image ) | imagine_filter('default_big') }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="container">
                <div class="row">
                    {% if maxPages > 1 %}
                        <nav aria-label="Page navigation" data-aos="fade-up" data-aos-delay="100">
                            <ul class="pagination">
                                <li class="page-item {{ thisPage == 1 ? 'disabled' }}">
                                    <a class="page-link" href="{{ path('gallery', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% for i in range(max(thisPage-3, 1), min(thisPage+2, maxPages)) %}
                                    <li {% if i == thisPage %} class="page-item {{ thisPage == i ? 'active' }}"{% endif %}>
                                        <a class="page-link" href="{{ path('gallery', {'page': i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                <li  class="page-item {{ thisPage == maxPages ? 'disabled' }}">
                                    <a  class="page-link" href="{{ path('gallery', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </section><!-- End  Works Section -->
{% endblock %}