{% extends '@AppBundleArchive/Default/frontend_layout.html.twig' %}

{% block main_content %}
    {{ parent() }}

    <section class="section">
        <div class="container">
            <div class="row mb-4 align-items-center">
                <div class="col-md-6" data-aos="fade-up">
                    <h2>{{ app.request.locale == 'bg' ? image.title : image.titleE }}</h2>
                </div>
            </div>
        </div>

        <div class="site-section pb-0">
            <div class="container">
                <div class="row align-items-stretch">
                    <div class="col-md-8" data-aos="fade-up">
                        <img src="{{ asset( image.image ) | imagine_filter('gallery_element_frontend_image') }}" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
                        <div class="sticky-content">
                            <h3 class="h3">{{ app.request.locale == 'bg' ? image.title : image.titleE }}</h3>
                            <div class="mb-5">
                                <p>{{ app.request.locale == 'bg' ? image.text : image.textEn }}</p>
                            </div>
                            <div class="mb-5">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% if previous != null %}
                                            <a href="{{ path('image', { 'id' : previous.id })}}" class="btn btn-outline-secondary">{{ 'prev_image'|trans({}, 'frontend') }}</a>
                                        {% endif %}
                                        {% if next != null %}
                                            <a href="{{ path('image', { 'id' : next.id})}}" class="btn btn-outline-secondary">{{ 'next_image'|trans({}, 'frontend') }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}