{% extends '@AppBundleArchive/Default/frontend_layout.html.twig' %}
{% block main_content %}
    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                    <h2>{{ 'gallery_text_newest'|trans({}, 'frontend') }}</h2>
{#                    <p class="mb-0">{{ 'index_tema'|trans({}, 'frontend') }}</p>#}
                </div>
                <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
                    <div id="filters" class="filters">
                        <a href="#" data-filter="*" class="active">{{ 'gallery_all_photos'|trans({}, 'frontend') }}</a>
                        <a href="#" data-filter=".bg">{{ 'gallery_bulgaria_photos'|trans({}, 'frontend') }}</a>
                        <a href="#" data-filter=".world">{{ 'gallery_world_photos'|trans({}, 'frontend') }}</a>
                    </div>
                </div>
            </div>
            <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
                {% if images %}
                    {% for image in images %}
                        <div class="item {{ image.code }} col-sm-6 col-md-4 col-lg-4 mb-4">
                            <a href="{{ path('image', { 'id' : image.id})}}" class="item-wrap fancybox">
                                <div class="work-info">
                                    <h3>{{ app.request.locale == 'bg' ? image.title : image.titleE }}</h3>
                                </div>
                                <img class="img-fluid" src="{{ asset( image.image ) | imagine_filter('default_big') }}">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 text-left text-lg-right pull-right" data-aos="fade-up" data-aos-delay="100">
                        <a class="btn btn-secondary" href="{{ url('gallery') }}" style="width: 100%;"> {{ 'gallery_more_photos'|trans({}, 'frontend') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End  Works Section -->


{#    <section class="section">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center text-center mb-4">#}
{#                <div class="col-5">#}
{#                    <h3 class="h3 heading">Какво предлагаме</h3>#}
{#                    <p>Прдлагаме голямо количество подбрани снимки и новини. От света и страната. По повод COVID - 19</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}

{#                <div class="col-12 col-sm-6 col-md-6 col-lg-6">#}
{#                    <span class="la la-image la-3x mb-4"></span>#}
{#                    <h4 class="h4 mb-2"><b>Снимков материал</b></h4>#}
{#                    <p>Подбрания снимков материал ще съдържа:</p>#}
{#                    <ul class="list-unstyled list-line">#}
{#                        <li>Снимки от брифингите в република българия</li>#}
{#                        <li>Актуални снимки на обстановката по света и в страната</li>#}
{#                        <li>Снимки със свързани теми по повод на COVID - 19</li>#}
{#                        <li>Всякакъв вид институционални снимки свръразни със заразата</li>#}
{#                        <li>Снимки от благотворителни меруприятия и актуални действия в противовес на заразата</li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-12 col-sm-6 col-md-6 col-lg-6">#}
{#                    <span class="la la-mobile la-3x mb-4"></span>#}
{#                    <h4 class="h4 mb-2"><b>Новини</b></h4>#}
{#                    <p>Новини по повод COVID - 19 в реално време, от България и света.</p>#}
{#                    <ul class="list-unstyled list-line">#}
{#                        <li>Новини в двуезична версия както за нас, така и за нашите партноьори</li>#}
{#                        <li>Безплатно пълно покритие на всичко свързано с темата за COVID - 19</li>#}
{#                        <li>Новите са в подходящ формат и визия за ползване на голямо покритие от устройства</li>#}
{#                    </ul>#}
{#                </div>#}


{#            </div>#}
{#        </div>#}
{#    </section><!-- End Services Section -->#}

    <!-- ======= Testimonials Section ======= -->
    <section class="section pt-0">
        <div class="container">

            <div class="owl-carousel testimonial-carousel">
                {% if images %}
                    {% for image in images %}
                        <div class="testimonial-wrap">
                            <img src="{{ asset( image.image ) | imagine_filter('gallery_scroll_element_frontend') }}" alt="Image" class="img-fluid">
                            <blockquote>
                                <h3>{{ image.title }}</h3>
                            </blockquote>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </section><!-- End Testimonials Section -->
{% endblock %}