{% extends '@AppBundleArchive/Default/frontend_layout.html.twig' %}
{% block main_content %}
    {{ parent() }}
    <section class="section">
    </section>
    <section class="section">
        <div class="container">
            <nav aria-label="Page navigation">
                {% if maxPages > 1 %}
                <ul class="pagination pagination-lg">
                    <li class="page-item {{ thisPage == 1 ? 'disabled' }}">
                        <a class="page-link" href="{{ path('news', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for i in range(max(thisPage-3, 1), min(thisPage+3, maxPages)) %}
                        <li {% if i == thisPage %} class="page-item {{ thisPage == i ? 'active' }}"{% endif %}>
                            <a class="page-link" href="{{ path('news', {'page': i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li  class="page-item {{ thisPage == maxPages ? 'disabled' }}">
                        <a  class="page-link" href="{{ path('news', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </section>
{% endblock %}